* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    height: 100vh;
    background-image: url("https://images.unsplash.com/photo-1558591710-4b4a1ae0f04d?q=80&w=987&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}

.buttonOpen {
    position: relative;
    padding: 15px 20px;
    font-size: 1.2rem;
    background-color: #ffffffb6;
    display: inline-block;
    text-decoration: none;
    color: #4A5759;
    cursor: pointer;
    border-radius: 50px;
    transition: 0.2s;
}

.buttonOpen:hover {
    transform: scale(1.08);
    box-shadow: 2px 2px 7px 0px rgba(0, 0, 0, 0.295);
    border: 2px solid #4A5759;
}



#newsLetter {
    position: fixed;
    align-items: center;
    transform: translate(-50% -50%);
    background-color: #ffffff;
    z-index: 2;
    width: 450px;
    padding: 80px 50px 50px;
    border-radius: 4px;
    visibility: hidden;
    box-shadow: 2px 2px 7px 0px rgba(0, 0, 0, 0.295);
    

}

#newsLetter.active {
    visibility: visible;
    
    
}

#newsLetter h2 {
    text-align: center;
    color: #323637;
    font-size: 24px;
    margin: 20px 10px;
}

#newsLetter p {
    text-align: center;
    margin: 20px 10px;
    line-height: 17px;
    letter-spacing: 0.5px;
    color: #858585;
}

.box {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#newsLetter input {
    background-color: #dbd9d9;
    color: #dddddd;
    border: 2px solid #4A5759;
    outline: none;
    height: 40px;
    width: 100%;
    border-radius: 20px;
    text-align: center;
    margin: 10px 20px;

}

#newsLetter input:focus {
    background-color: #f1f1f1;
    color: #4A5759;
    border: 2px solid #4A5759;
}

#newsLetter button {
    margin: 10px;
    height: 30px;
    width: 100%;
    background-color: #ffffff;
    color: #4A5759;
    border: none;
    outline: none;
    border-radius: 15px;
    box-shadow: 2px 2px 7px 0px rgba(0, 0, 0, 0.295);
    transition: 0.2s;

}

#newsLetter button:hover {
    transform: scale(1.03);
    box-shadow: 2px 2px 7px 0px rgba(0, 0, 0, 0.295);
    transition: 0.2s;
}

.close {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    transition: 0.5s;
    color: #b2b2b2;
}

.close:hover {
    transform: rotate(19deg);

}